<link rel="stylesheet" href="./css/style.css">

<div class="centered">

    <section class="cards" style="width: 33.333%;">

        <article class="card">
            <img class="card-img-top" src="{{photo}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{continente}}</h5>
                <p class="card-text"> País: {{pais}}, <br> Capital: {{this.capital}}</p>
            </div>
        </article><!-- /card-one -->

    </section>
</div>
