h1 {
    color: red;
}

footer {
    background-color: green;
    color: white;
}

.cards {
    display: flex;
    
    padding: 10% 20%;
    justify-content: space-around;
}

.card {
    flex: 0 1 24%;
}

.cards img {
    object-fit: cover;
    object-position: center;
    height: 100px;
}